@inherits MatTest.Models.Form.Form1ViewModel

<EditForm Model="@LoginData" OnValidSubmit="@HandleValidSubmit" class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <MatTextField FullWidth="true" Label="UserID" @bind-Value="@LoginData.UserID"></MatTextField>
            <ValidationMessage For="@(() => LoginData.UserID)" />
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <MatTextField FullWidth="true" Label="Password" @bind-Value="@LoginData.Password" Type="password"></MatTextField>
            <ValidationMessage For="@(() => LoginData.Password)" />
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 mat-layout-grid-align-right">
            <MatButton Label="Login" Outlined="true" Type="submit"></MatButton>
        </div>
    </div>
</EditForm>